<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1382215248599499</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.191606272140-gflcli9r3e0t76c9g4u87ct4tu8i22ni</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>1c6a561a8628c2ab87f4c0d9f5f344481c4d597a</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1382215248599499</string>
	<key>FacebookDisplayName</key>
	<string>Jobfizzer</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Jobfizzer needs to access photo camera to get pictures for visibility to Service Providers. Mean while your Camera won&apos;t be accessed without your permission. You can always change this later in your phone’s settings.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Give access to your location to find the service providers around you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Give access to your location to find the service providers around you.</string>
	<key>NSLocationUsageDescription</key>
	<string>Give access to your location to find the service providers around you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Give access to your location to find the service providers around you.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Jobfizzer  needs to access photo library to get pictures for visibility to Providers. Your photo library  won&apos;t be accessed without your permission.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Ubuntu-Regular.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
